PORT=5001

DB_HOST=localhost
DB_PORT=3306
DB_NAME=blogdb
DB_USER=root
DB_PASSWORD=your_mysql_password

JWT_SECRET=any_long_random_string_change_me
JWT_EXPIRES_IN=1d
JWT_RESET_EXPIRES_IN=1h

FRONTEND_URL=http://localhost:3000

ADMIN_FIRSTNAME=Admin
ADMIN_LASTNAME=One
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=password123
